<%- include('../partials/html-head') %> <%- include('../partials/nav') %>

<main class="container">
	<div class="pt-3 row">
		<h1>All Books</h1>
		<form action="/books/find">
			<div class="input-group mb-3">
				<input
					type="text"
					class="form-control"
					name="search"
					autocomplete="off"
					placeholder="Find a book"
					required
				/>
				<div class="input-group-append">
					<button class="input-group-text btn btn-primary">Search</button>
				</div>
			</div>
		</form>
	</div>

	<div class="d-flex flex-wrap">
		<% books.forEach(book => { %>
		<div class="card col-12 col-md-6 col-lg-3 p-2">
			<div class="row">
				<img src="<%= book.cover %> " class="rounded-start col-6" alt="..." />
				<div class="col-6">
					<h5 class="card-title"><%= book.title %></h5>
					<h6 class="card-title">
						<%= book.authors.join(", ").substring(0, 80) %>
					</h6>
					<form action="/books/<%= book._id %>" method="GET">
						<button class="btn btn-success">Details</button>
					</form>
				</div>
			</div>
			<div class="card-body col-12 row">
				<h6>
					Available from: <%= book.availableFrom.length %> <%= book.availableFrom.length === 1 ? "user" : "users" %> 
				</h6>
				<p class="card-text">
					<%= book.description.substring(0, 200).concat("...") %>
				</p>
			</div>
		</div>
		<% }) %>
	</div>
</main>

<%- include('../partials/footer') %>
