<%- include('../partials/html-head') %> <%- include('../partials/nav') %>

<main class="container mt-2">
	<h1>Search Results</h1>
	<form class="form-inline" action="/books/find">
		<input
			type="text"
			class="form-control col searchbar"
			name="search"
			autocomplete="off"
			placeholder="Search again"
			required
		/>
		<button class="btn btn-primary ml-2">Search</button>
	</form>

	<!-- prettier-ignore -->
	<!-- mongo response card -->
	<div class="specialFlex mt-3">
		<% dbBooks.forEach(book => { %>
		<div
			class="card col-12 col-sm-6 col-lg-4 col-xl-3 p-1"
			style="
				background-image: radial-gradient(#d5dfe7, #e9eef2);
				height: 28rem;
				border: 3px solid #37658E;
			"
		>
			<div class="row">
				<img
					src="<%= book.cover %> "
					class="rounded-start col-6 pr-1"
					alt="..."
				/>
				<div class="col-6 pl-1 container">
					<h5 class="card-title"><%= book.title %></h5>
					<p class="card-title">
						<b> <%= book.authors.join(", ").substring(0, 80) %> </b>
					</p>
					<form action="/books/<%= book._id %>" method="GET">
						<button class="btn btn-primary">Details</button>
					</form>
				</div>
			</div>
			<div class="card-body col-12 row">
				<h6>
					Available from: <%= book.availableFrom.length %> <%=
					book.availableFrom.length === 1 ? "friend" : "friends" %>
				</h6>
				<p class="card-text">
					<%= book.description.length < 200 ? book.description :
					book.description.substring(0, 200).concat("...") %>
				</p>
			</div>
		</div>
		<% }) %>

		<!-- api response card -->
		<!-- prettier-ignore -->
		<% for (let i = 0; i < data.items.length; i++) { %> 
			<% const book = data.items[i].volumeInfo; %>
			<% const bookId = data.items[i].id; %>
			<% const bookTitle = book.title.substring(0, 60); %>
			<% const bookAuthor = book.authors 
					? book.authors.join(", ").substring(0, 50)
					: "No author available"; %>
			<% const bookDescription = book.description 
					? book.description 
					: "No description available"; %>
			<% const bookCover = book.imageLinks 
					? book.imageLinks.thumbnail 
					: "https://images.unsplash.com/photo-1543002588-bfa74002ed7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2730&q=80"; %>

		<div
			class="card col-12 col-sm-6 col-lg-4 col-xl-3 p-1"
			style="
				background-image: linear-gradient(to top right, #d5dfe7, #e9eef2);
				height: 28rem;
			"
		>
			<div class="row">
				<img
					src="<%= bookCover %>"
					class="rounded-start col-6 pr-1"
					alt="..."
				/>
				<div class="col-6 pl-1 container">
					<h5 class="card-title"><%= bookTitle %></h5>
					<p class="card-title"><b><%= bookAuthor %></b></p>
					<form action="/books/<%= bookId %>" method="POST">
						<button class="btn btn-primary">Add</button>
					</form>
				</div>
			</div>
			<div class="card-body col-12 row">
				<p class="card-text">
					<%= bookDescription.length < 200 ? bookDescription :
					bookDescription.substring(0, 200).concat("...") %>
				</p>
			</div>
		</div>
		<% } %>
		<!-- card ends -->
	</div>
</main>

<%- include('../partials/footer') %>
