<%- include('../partials/html-head') %> <%- include('../partials/nav') %>

<main class="container">
<div class="container">
	<form action="/books/find">
		<label for="search" >Find a book</label>
		<input type="text" name="search" autocomplete="off"/>
		<button type="submit">Search</button>
	</form>
</div>

<div class="card col-4">
  <div class="row">
      <img src="<%= bookCover %>" class="img-fluid rounded-start col-6" alt="...">
			<div class="col-6">
			<h5 class="card-title"><%= bookTitle %> </h5>
			<h6 class="card-title"><%= bookAuthor %> </h6>
			<h6>⭐️⭐️⭐️⭐️⭐️</h6>
			<a href="#" class="btn btn-primary">Add to Bookshelf</a>
			</div>
	</div>
	<div class="card-body col-12 row">
		<p class="card-text"><%= bookDescription %> 
		</p>
	</div>
</div>


</main>


<%- include('../partials/footer') %>
