<%- include('../partials/html-head') %>
<link rel="stylesheet" href="../../public/stylesheets/style.css" />
<%- include('../partials/nav') %>

<main class="container">
		<div class="pt-3">
		<h1>Search Results</h1>
		<form action="/books/find" class="form-control p-3">
			<label class="visually-hidden" for="search">Find a book</label>
			<input
				type="text"
				name="search"
				autocomplete="off"
				placeholder="Find a book"
			/>
			<button class="btn btn-primary" type="submit">Search</button>
		</form>
	</div>

	<div class="d-flex flex-wrap pt-3">
		<% for (let i = 0; i < data.items.length; i++) { %> <% const book =
		data.items[i].volumeInfo; const bookId = data.items[i].id; const bookTitle =
		book.title; const bookRating = book.averageRating; const bookAuthor =
		book.authors ? book.authors.join(", "): "No author available"; const
		bookDescription = book.description ? book.description.substring(0,
		200).concat("...") : "No description available"; const bookCover =
		book.imageLinks ? book.imageLinks.thumbnail :
		"https://images.unsplash.com/photo-1543002588-bfa74002ed7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2730&q=80";
		%>

		<div class="card col-6 col-sm-4 col-lg-3 p-2">
			<div class="row">
				<img
					src="<%= bookCover %> "
					class="img-fluid rounded-start col-6"
					alt="..."
				/>
				<div class="col-6">
					<h5 class="card-title"><%= bookTitle %></h5>
					<h6 class="card-title"><%= bookAuthor %></h6>
					<h6>Average Rating: <%= bookRating %></h6>
					<form action="/books/<%= bookId %>" method="POST">
						<button class="btn btn-primary">Add</button>
					</form>
				</div>
			</div>
			<div class="card-body col-12 row">
				<p class="card-text"><%= bookDescription %></p>
			</div>
		</div>
		<% } %>
	</div>
</main>

<%- include('../partials/footer') %>
