<%- include('../partials/html-head') %> 
<link rel="stylesheet" href="/stylesheets/style.css">
<%- include('../partials/nav') %>

<main class="container d-flex">
	<div class="card col-6 p-2 mt-3 row">
		<div class="row">
			<img src="<%= book.cover %> " class="rounded-start col-4" alt="..." />
			<div class="col-8">
				<h2 class="card-title"><%= book.title %></h2>
				<h4 class="card-title"><%= book.authors.join(", ") %></h4>
				<% if (book.ownedBy.includes(user.profile._id)) { %>
					<form action="/books/<%= book._id %>?_method=DELETE" method="POST">
						<button class="btn btn-danger">Delete</button>
					</form>
					<% if (book.availableFrom.includes(user.profile._id)) { %>
					<h5>Available from You</h5>
					<form action="/books/<%= book._id %>/updateAvailability" method="GET">
						<button class="btn btn-secondary">Change</button>
					</form>  
					<% } %>
				<% } else { %>
					<form action="/books/<%= book._id %>/update" method="GET">
						<button class="btn btn-primary">Add</button>
					</form>
				<% } %> 
			<!-- <% book.availableFrom.forEach(profile => { %>
				<% if (profile._id === user.profile._id) { %>
				 	<h5>Available from You</h5>
					<form action="/profiles/<%= user.profile._id%>?_method=PUT" method="POST">
						<button class="btn btn-secondary">Change</button>
					</form> 
				<% } else { %>
				<h5>Available from: <%= profile.name %></h5>
				<% } %>
			<% }) %> -->
			</div>
		</div>
		<div class="card-body col-12 row">
			<p class="card-text"><%= book.description %></p>
		</div>
	</div>
	<div class="card col-6 p-2 mt-3 row">
		<div class="row">
			<h1>Reviews</h1>
		</div>
	</div>
</main>

<%- include('../partials/footer') %>
