<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<div class="card col-6 col-m-4 col-lg-3 p-2">
				<div class="row">
					<img
						src="<%= book.cover %> "
						class="rounded-start col-6"
						alt="..."
					/>
					<div class="col-6">
						<h5 class="card-title"><%= book.title %></h5>
						<h6 class="card-title"><%= book.authors.join(", ") %></h6>
						<form action="/books/<%= book._id %>" method="GET">
							<button class="btn btn-primary">Details</button>
						</form>
						
					</div>
				</div>
			<div class="card-body col-12 row">
        <% book.ownedBy.forEach(profile => { %>
          <h6>Owned by: <%= profile.name %></h6>
        <% }) %>
				<p class="card-text"><%= book.description %></p>
			</div>
		</div>

<%- include('../partials/footer') %>