<%- include('../partials/html-head') %> 
<link rel="stylesheet" href="/stylesheets/style.css">
<%- include('../partials/nav') %>

<main class="container">
	<div class="card col-6 p-2 mt-3">
		<div class="row">
			<img src="<%= book.cover %> " class="rounded-start col-4" alt="..." />
			<div class="col-8">
				<h2 class="card-title"><%= book.title %></h2>
				<h4 class="card-title"><%= book.authors.join(", ") %></h4>
				<% if (book.ownedBy.includes(user.profile._id)) { %>
					<form action="/books/<%= book._id %>?_method=DELETE" method="POST">
						<button class="btn btn-danger">Delete</button>
					</form>
				<% } else { %>
					<form action="/books/<%= book._id %>" method="GET">
						<button class="btn btn-primary">Details</button>
					</form>
				<% } %> 
				<% if (book.availableFrom.includes(user.profile._id)) { %>
					<h5>Available from: <%= user.profile.name %>
					<form action="/profiles/<%= user.profile._id%>?_method=PUT" method="POST">
						<button class="btn btn-success">Change availability</button>
					</form>  
				<% } %>
				</h5>
		
			</div>
		</div>
		<div class="card-body col-12 row">
			<p class="card-text"><%= book.description %></p>
		</div>
	</div>
</main>

<%- include('../partials/footer') %>
