<div class="col px-2">
	<div
		class="card my-2 p-2"
		style="
			min-width: 20rem;
			max-width: 32rem;
			min-height: 20rem;
		"
	>
		<div class="d-flex flex-nowrap">
			<img
				src="<%= book.cover %> "
				class="rounded-start pr-lg-1"
				alt="..."
				style="max-height: 12rem"
			/>
			<div class="pl-3 pl-lg-1 d-flex flex-column justify-content-between">
				<h4 class="card-title fs-1"><%= book.title %></h4>
				<h6>
					<%= book.authors.join(", ").substring(0, 80) %>
				</h6>
				<form action="/books/<%= book._id %>" method="GET">
					<button class="btn btn-primary">Details</button>
				</form>
				<h6 class="mb-0">
					Available from: <%= book.availableFrom.length %> <%=
					book.availableFrom.length === 1 ? "friend" : "friends" %>
				</h6>
			</div>
		</div>
		<div class="card-body pt-3 p-1 col-12">
			<p class="card-text line-clamp"><%= book.description %></p>
		</div>
	</div>
</div>
