<%- include('../partials/html-head') %> 
<%- include('../partials/nav') %>

<main class="container">
	<div class="row pt-3">
		<% profiles.forEach(profile => { %>
			<div class="card" style="width: 12rem;">
				<a class="text-decoration-none hover-none" href="/profiles/<%= profile._id %>">
						<% if (profile.avatar) { %>
									<img
										class="card-img-top"
										src="<%= profile.avatar %>"
										alt="<%= profile.name %>'s avatar"
										width="100%"
									/>
									<% } else {%>
									<img
										class="card-img-top"
										src="/images/icons/user.png"
										alt="A placeholder avatar"
										width="100%"
									/>
									<% } %>
					<div class="card-body">
						<h5 class="card-title fs-3 text-dark"><%= profile.name %></h5>
					</div>
				</a>
			</div>
			<% }) %>
		</div>
	</div>
</main>


<%- include('../partials/footer') %>
