<%- include('../partials/html-head') %> 
<link rel="stylesheet" href="/stylesheets/siwg.css">
<%- include('../partials/nav') %>

<main class="container">
	<div class="row">
		<% profiles.forEach(profile => { %>
			<div class="col">
				<a class="text-decoration-none hover-none" href="/profiles/<%= profile._id %>">
					<div class="card m-2" style="width: 10rem; height: 13rem">
							<% if (profile.avatar) { %>
										<img
											class="card-img-top"
											src="<%= profile.avatar %>"
											alt="<%= profile.name %>'s avatar"
											width="100%"
										/>
										<% } else {%>
										<img
											class="card-img-top"
											src="/images/icons/user.png"
											alt="A placeholder avatar"
											width="100%"
										/>
										<% } %>
						<div class="card-body p-1 d-flex flex-column align-items-center">
							<h6 class="card-title text-dark"><%= profile.name %>
							</>
						</div>
					</div>
				</a>
			</div>
			<% }) %>
		</div>
	</div>
</main>


<%- include('../partials/footer') %>
