<%- include('../partials/html-head') %> <%- include('../partials/nav') %>

<main class="container mt-2">
	<h1 class="border-bottom border-dark border-5 d-inline"><%= isSelf ? "My" : profile.name.split(" ")[0].concat("'s") %> Shelf</h1>

	<% if (profile.bookshelf.length === 0) { %>
	<h2>
		<%= isSelf ? "You don't" : profile.name.split(" ")[0].concat(" doesn't") %>
		have any books yet!
	</h2>
	<a href="/"><h3>Search for books to get started!</h3></a>
	<% } else { %>

	<div class="d-flex flex-row flex-wrap mt-3">
		<% profile.bookshelf.forEach(book => { %>
			<%- include("../partials/db-card", { book }) %>
			<% }) %> 
	</div>
	<% } %>
</main>

<%- include('../partials/footer') %>
