<%- include('../partials/html-head') %> 
<%- include('../partials/nav') %>


<main class="container p-3">
	<h1><%= isSelf ? "Your" : profile.name.split(" ")[0].concat("'s") %> Shelf</h1>

	<% if (profile.bookshelf.length === 0) { %> 
		<h2><%= isSelf ? "You don't" : profile.name.split(" ")[0].concat(" doesn't") %> have any books yet!</h2>
	<% } else { %>
		<div class="d-flex flex-wrap g1">
		<% profile.bookshelf.forEach(book => { %> 
			<div class="card col-12 col-md-6 col-lg-3 p-2">
				<div class="row">
					<img
						src="<%= book.cover %> "
						class="img-fluid rounded-start col-6"
						alt="..."
					/>
					<div class="col-6">
						<h5 class="card-title"><%= book.title %></h5>
						<h6 class="card-title"><%= book.authors.join(", ").substring(0, 80) %></h6>
						<h6>Average Rating: <%= book.rating %> 
						</h6>
						<form action="/books/<%= book.id %>" method="GET">
							<button class="btn btn-primary">Details</button>
						</form>
					</div>
				</div>
			<div class="card-body col-12 row">
				<p class="card-text"><%= book.description.substring(0, 200).concat("...") %></p>
			</div>
		</div>
		<% }) %>
	</div>
	<% } %> 
</main>


</main>

<%- include('../partials/footer') %>