<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main class="container justify-content-center">
  <div>
    <h1>Welcome <%= user ? user.profile.name.split(" ")[0].concat("!") : ", fellow reader!" %></h1>
    <% if (user?.profile.avatar) { %>
      <div>
        <img
          src="<%= user.profile.avatar %>"
          alt="<%= user.profile.name %> avatar"
          class="profile-avatar"
        />
      </div>
    <% } %>
  </div>
</main>
<%- include('./partials/footer') %>
