<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>
<div class="container">
  <main class="justify-content-center">
    <h1>Hi, <%= user ? user.profile.name : "reader" %></h1>
    <% if (user?.profile.avatar) { %>
      <div>
        <img
          src="<%= user.profile.avatar %>"
          alt="<%= user.profile.name %> avatar"
          class="profile-avatar"
        />
      </div>
    <% } %>
  </main>
</div>
<%- include('./partials/footer') %>
